<!--The content below is only a placeholder and can be replaced.-->
<nav>
<!-- <ul>
  <li>
    <h4><a [routerLink]="['/menu', { outlets: { 'savepage': ['save'] } }]">Add</a></h4>
  </li>
  <li>
    <h4><a [routerLink]="['/menu', { outlets: { 'editpage': ['edit'] }}]">Edit</a></h4>
  </li>
  <li>
    <h4><a [routerLink]="['/menu', { outlets: { 'showpage': ['show'] }}]">Show</a></h4>
  </li>
</ul> -->
<div>
<ul>
  <li>
    <a  [routerLink]="['/menu/save']">Add</a>
  </li>
  <li>
    <a [routerLink]="['/menu/edit']">Edit</a>
  </li>
  <li>
    <a  [routerLink]="['/menu/show']">Show</a>
  </li>
</ul>
</div>
</nav>
<div class="container">
<h3>Welcome To CURD App</h3>
<router-outlet></router-outlet>
<!-- <router-outlet name="savepage"></router-outlet>
<router-outlet name="editpage"></router-outlet>
<router-outlet name="showpage"></router-outlet> -->
</div>
